services:
  db:
    image: mysql:8.0
    container_name: pixel-db-test
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    env_file:
      - .env
    volumes:
      - db_test_data:/var/lib/mysql
    restart: unless-stopped

  backend-test:
    build:
      context: ./server
    container_name: backend-test
    env_file:
      - .env
    depends_on:
      - db
    command: >
      sh -c "
        npm install &&
        echo 'Waiting for MySQL...' &&
        sleep 20 &&
        npm run test:integration
      "

volumes:
  db_test_data:
